
body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: fit-content;
    height: fit-content;
}

.core {
    position: relative;
    display: flex;
    background: white;
    width: 50vmin;
    height: 50vmin;
    align-self: center;
    justify-self: center;
    border-style: solid;
    border-width: 1px;
    border-color: #dddddd;
    box-shadow: 3px 3px 3px #aaaaaa;
}

.ribbon {
    width: 40vmin;
    height: 40vmin;
    overflow: hidden;
    position: absolute;
}
.ribbon::before,
.ribbon::after {
    position: absolute;
    content: '';
    z-index:-1;
    border: 5px solid #000;
}
.ribbon span {
    position: absolute;
    width: 70.7vmin;
    padding: 15px 0;
    padding: 0 0;
    box-shadow: 0 3px 11px rgba(0,0,0,.4);
    color: #fff;
    font-family: sans-serif;
    text-shadow: 0 1px 1px rgba(0,0,0,.2);
    text-transform: uppercase;
    text-align: center;
}

.ribbon-top-right {
    top: -10px;
    right: -10px;
}
.ribbon-top-right::before,
.ribbon-top-right::after {
    border-top-color: transparent;
    border-right-color: transparent;
}
.ribbon-top-right::before {
    top: 0;
    left: 0;
}
.ribbon-top-right::after {
    bottom: 0;
    right: 0;
}
.ribbon-top-right span {
    left: -10.9vmin;
    top: 10.9vmin;
    height: 11.4vmin;
    line-height: 11.4vmin;
    font-size: 5.5vmin;
    transform: rotate(45deg);
    background-image: linear-gradient(to right, #50a100 , #9ce64e)
}

.ribbon-bottom-left {
    bottom: -10px;
    left: -10px;
}
.ribbon-bottom-left::before,
.ribbon-bottom-left::after {
    border-bottom-color: transparent;
    border-left-color: transparent;
}
.ribbon-bottom-left::before {
    bottom: 0;
    right: 0;
}
.ribbon-bottom-left::after {
    top: 0;
    left: 0;
}
.ribbon-bottom-left span {
    right: 0;
    bottom: 0;
    height: 29.5vmin;
    transform: rotate(225deg);
    background-image: linear-gradient(to bottom, #f2ad9d , #bf0d00)
}


